<div class="card">
	<div class="card-content">
		<div class="center">
			<h1 class="title">Undercover</h1>
		</div>
	</div>
</div>
<br><br><br><br>
<div class="container">
	<div class="row">
		<div class="col l8 m8 s12 offset-l2 offset-m2 ">
			<ul class="collection center">
				<div class="container">
					<br>
					<li class="item">
						<button class="btn blue z-depth-3" routerLink="game-alone" routerLinkActive="router-link-active" >Jouer sur un seul appareil</button>
					</li>
					<br>
					<li class="item">
						<button class="btn pink z-depth-3" routerLink="room-list">Rejoindre un salon</button>
					</li>
					<br>
					<li class="item">
						<button class="btn green z-depth-3" routerLink="create-room">Créer un salon</button>
					</li>
					<br>
				</div>
			</ul>
		</div>
	</div>
</div>